{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% load staticfiles %}

{% block styles%}
{% bootstrap_css %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" href="{% static 'css/index.css' %}">
{%endblock %}

{% block content %}

    <div class="carousel-inner">
      <!-- <div class="landingpage" style="background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url({% static 'img/cocaine.png'%}) fixed;"> -->
      <div class="landingpage" >
        <img src="{{caraousel.landing_page.url}}" class="landingpage-img">
        <div class="time">
          <p><span class="bold">Site of the day </span>    {{date}}</p>
        </div>

        <div class="header">
          <a href="/site/{{caraousel.id}}" style="color:white;text-decoration:none;">
            <h1>{{caraousel.title}}</h1>
          </a>
        </div>
        <div class="page-body">
          <p>BY <span style="color:#49c5b6;text-transform:uppercase;">{{caraousel.username}}</span> FROM <span class="bold">{{caraousel.country}}</span> WITH 0.75</p>
        </div>

          <div class="middle">

            <div class="circle" id="circle-a">
            	<strong></strong>
              <p class="rating">DESIGN</p>
            </div>
            <div class="circle" id="circle-b">
            	<strong></strong>
              <p class="rating">USABILITY</p>
            </div>
            <div class="circle" id="circle-c">
            	<strong></strong>
              <p class="rating">CREATIVITY</p>
            </div>
            <div class="circle" id="circle-d">
            	<strong></strong>
              <p class="rating">CONTENT</p>
            </div>

          </div>
      </div>
    </div>

<div class="container headers">
    <h4 style="float:left;"><span class="bold" >Sites of the Day</span>  Previous Winners</h4>
    <!-- <h4 style="float:right"><span><span class="bold">Mobile Excellence</span>  Recognized by Google</span></h4> -->
</div>
<div class="pages">
<div class="row">
  {% for winner in winners %}
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <div class="card" style="width: 40.2rem;">
  <img class="card-img-top img-responsive" src="{{winner.landing_page.url}}" alt="Card image cap" responsive>
  <div class="card-body">
  <a href="/site/{{winner.id}}" style="color:black;text-decoration:none;">
    <h5 class="card-title" style="line-height:28px;">{{winner.title}}</h5>
  </a>
    <p class="card-text">From {{winner.country}}<span class="date">{{winner.post_date}}</span></p>
  </div>
  <div class="card-footer ">
    <div class="user-image">
    <img src="{{winner.avatar.url}}" class="gallery-image" alt=""  width=8 height=8>
    <a href="/user/{{winner.username}}" style="color:black;text-decoration:none;margin:auto;">
      <p style="font-size: 13px; font-weight: lighter;margin:auto; padding:2px;text-transform: uppercase;">{{winner.username}}</p>
    </a>
  </div>
  </div>
</div>
  </div>
  {% endfor %}
</div>
</div>

<div class="container headers">
    <h4><span class="bold">Nominees</span>  We need your vote!</h4>
</div>

<div class="pages">
<div class="row">
  {% for nominee in nominees %}
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <div class="card" style="width: 40.2rem;">
  <img class="card-img-top img-responsive" src="{{nominee.landing_page.url}}" alt="Card image cap" responsive>
  <div class="card-body">
    <a href="/site/{{nominee.id}}" style="color:black;text-decoration:none;">
      <h5 class="card-title" style="line-height:28px;">{{nominee.title}}</h5>
    </a>
    <p class="card-text">From {{nominee.country}}<span class="date">{{nominee.post_date}}</span></p>
  </div>
  <div class="card-footer ">
    <div class="user-image">
    <img src="{{nominee.avatar.url}}" class="gallery-image" alt=""  width=8 height=8>
    <a href="/user/{{nominee.username}}" style="color:black;text-decoration:none;margin:auto;">
      <p style="font-size: 13px; font-weight: lighter;margin:auto; padding:2px;text-transform: uppercase;">{{nominee.username}}</p>
    </a>
  </div>
  </div>
</div>
  </div>
  {% endfor %}

</div>
</div>


<div class="container headers">
    <h4><span class="bold">Directory</span>  Find the Best Digital Agencies & Professionals</h4>
</div>

<div class="pages">
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <div class="card" style="height:44.6rem;width: 40.2rem;">
  <!-- <img class="card-img-top img-responsive" src="{% static 'img/trial1.png'%}" alt="Card image cap" responsive> -->
  <div class="card-body">
    <h5 class="card-title" style="line-height:28px;font-size:15px;">Professional Directory</h5>
    <p class="card-text professional">Discover the best agencies and Professionals in <span style="color:#49c5b6">Kenya</span></p>
    <br><br>
    <a href="{% url 'directory' %}" >
      <button class="btn btn-default btn-sm" style="border-radius:18%;">Discover</button>
    </a>
  </div>
</div>
  </div>

  {% for directory in directories %}
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <div class="card" style="width: 40.2rem;">
  <img class="card-img-top img-responsive" src="{{directory.landing_page.url}}" alt="Card image cap" responsive>
  <div class="card-body">
    <a href="/site/{{directory.id}}" style="color:black;text-decoration:none;">
      <h5 class="card-title" style="line-height:28px;">{{directory.title}}</h5>
    </a>
    <p class="card-text">From {{directory.country}}<span class="date">{{directory.post_date}}</span></p>
  </div>
  <div class="card-footer ">
    <div class="user-image">
    <img src="{{directory.avatar.url}}" class="gallery-image" alt=""  width=8 height=8>
    <a href="/user/{{directory.username}}" style="color:black;text-decoration:none;margin:auto;">
      <p style="font-size: 13px; font-weight: lighter;margin:auto; padding:2px;text-transform: uppercase;">{{directory.username}}</p>
    </a>
  </div>
  </div>
</div>
  </div>
  {% endfor %}

</div>
</div>


<div class="container headers">
    <h4><span class="bold">Resources <span><i class="glyphicon glyphicon-heart" style="color:#49c5b6"></i></span></span>  Stuff Digital Designers Love!</h4>
</div>

<div class="pages">
<div class="row">
  {% for resource in resources %}
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <div class="card" style="width: 40.2rem;">
  <img class="card-img-top img-responsive" src="{{resource.landing_page.url}}" alt="Card image cap" responsive>
  <div class="card-body">
    <a href="/site/{{resource.id}}" style="color:black;text-decoration:none;">
      <h5 class="card-title" style="line-height:28px;">{{resource.title}}</h5>
    </a>
    <p class="card-text">From {{resource.country}}<span class="date">{{resource.post_date}}</span></p>
  </div>
  <div class="card-footer ">
    <div class="user-image">
    <img src="{{resource.avatar.url}}" class="gallery-image" alt=""  width=8 height=8>
    <a href="/user/{{resource.username}}" style="color:black;text-decoration:none;margin:auto;">
      <p style="font-size: 13px; font-weight: lighter;margin:auto; padding:2px;text-transform: uppercase;">{{resource.username}}</p>
    </a>
  </div>
  </div>
</div>
  </div>
  {% endfor %}

</div>
</div>

<div class="pages">
<div class="row">
  {% for resource in resources2 %}
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <div class="card" style="width: 40.2rem;">
  <img class="card-img-top img-responsive" src="{{resource.landing_page.url}}" alt="Card image cap" responsive>
  <div class="card-body">
    <a href="/site/{{resource.id}}" style="color:black;text-decoration:none;">
      <h5 class="card-title" style="line-height:28px;">{{resource.title}}</h5>
    </a>
    <p class="card-text">From {{resource.country}}<span class="date">{{resource.post_date}}</span></p>
  </div>
  <div class="card-footer ">
    <div class="user-image">
    <img src="{{resource.avatar.url}}" class="gallery-image" alt=""  width=8 height=8>
    <a href="/user/{{resource.username}}" style="color:black;text-decoration:none;margin:auto;">
      <p style="font-size: 13px; font-weight: lighter;margin:auto; padding:2px;text-transform: uppercase;">{{resource.username}}</p>
    </a>
  </div>
  </div>
</div>
  </div>
  {% endfor %}
</div>
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-circle-progress/1.1.3/circle-progress.min.js"></script>

<script>
/**
*Exampe from https://kottenator.github.io/jquery-circle-progress/
*/
var progressBarOptions = {
	startAngle: -1.55,
	size: 100,
    value: {{caraousel.design}},
    fill: {
		color: 'Chocolate'
	}
}

$('.circle').circleProgress(progressBarOptions).on('circle-animation-progress', function(event, progress, stepValue) {
	$(this).find('strong').text(String((stepValue/10).toFixed(2)));
});

$('#circle-b').circleProgress({
	value : {{caraousel.usability}},
	fill: {
		color: 'Khaki'
	}
});

$('#circle-c').circleProgress({
	value : {{caraousel.creativity}},
	fill: {
		color: 'DarkTurquoise'
	}
});
$('#circle-d').circleProgress({
	value : {{caraousel.content}},
	fill: {
		color: 'SteelBlue'
	}
});


// $.each($('.circle'), function(){
// var price = $(this).html();
// $(this).html(value.replace(/(\d*\.)(\d*)/,'<span style="font-size:16px;">$1</span><span style="font-size:22px;">$2</span><span style="font-size:14px;">$3</span>'));
// });


</script>

{% endblock %}
