body{
  background-color: #f4f7f6;
}
.landingpage{
  width:100%;
  height:700px;
  position: relative;
  text-align: center;
}
.circle {
	width: 110px;
  /* margin: 1px 1px 1px; */
  display: inline-block;
  position: relative;
  text-align: center;
	vertical-align: top;
  margin: 0;
}
strong{
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 45px;
  font-size: 20px;
  font-weight: lighter;
  color: white;
}
.landingpage-img{
  filter: brightness(75%);
  width:100%;
  /* background-position: 50% 50%; */
}
.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    transform: translate(-50%, -50%);
}
.time{
  color:white;
  position: absolute;
  top: 10%;
  left: 10%;
  display: flex;
  transform: translate(-50%, -50%);
  font-size: 16px;
}

.header{
  color:white;
  position: absolute;
  top: 28%;
  left: 50%;
  display: flex;
  transform: translate(-50%, -50%);
  font-weight: bold;
}
.page-body{
  color:white;
  position: absolute;
  top: 36%;
  left: 50%;
  display: flex;
  transform: translate(-50%, -50%);

}
.rating{
  color:white;
  font-weight:100;
}
.container{
  margin-top: 20px;
  margin-left: 55px;

}
.date{
  float: right;
}

.card-img-top{
  border-radius:0;
  height:300px;
  width: 400px;
  max-width: none;
}
.card-img-top-directory{
  border-radius:0;
  height:180px;
  width: 320px;
  max-width: none;
}

.card-footer{
background-color: inherit;
}
h5{
  font-size: 18px;
}
.card-body{
 padding:8px;
}
.user-image {
    width: calc(20.333% );
    border-radius: 50%;
    display: inline-flex;
}
.user-image img {
  width: 40px;
  height: 40px;
  background-size: cover;
  display: block;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}
.directory-image {
    width: calc(20.333% );
    border-radius: 50%;
    display: inline-flex;
    margin-top: -50px;
    margin-left: 120px;
}
.directory-image img {
  width: 90px;
  height: 90px;
  background-size: cover;
  display: block;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}
.profile-image {
}
.profile-image img {
  margin-top: 40px;
  width: 100px;
  height: 100px;
  background-size: cover;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}
.pages{
  margin-top: 25px;
  display: inline-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content:center;
}
.bold{
  font-weight: bold;
}
.professional{
  font-size: 40px;
  font-weight:bold;
}
.horizontal{
  display: inline-flex;
}
.inline{
  margin-left:8px;
}
.spacing{
  margin-bottom: 3px;
}

.screenshot-img{
  border-radius:0;
  height:800px;
  width: 1350px;
  max-width: none;
  margin-bottom: 25px;
  margin-left: 14%;
}
#votes-form{
  width:500px;
  margin: auto;
}
label{
  margin-top: 5px;
  display: block;
}

#votes-input{
  width:100px;
  height:40px;
  justify-content: center;
}
